.testimonialBox {
  width: 100%;
  background-color: #facf41;
  color: #fff;
  margin-top: 50px;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  min-height: 250px;
  padding: 20px;
  box-shadow: 0 0 30px #aaa;
  text-shadow: 1px 1px 2px #555;

  /* border-radius: 5px; */
}

.testimonialBox h3 {
  font-style: normal;
  text-align: center;
}

.fadeOn {
  opacity: 1;
  transition: 1s;
}

.fadeOff {
  opacity: 0;
  transition: 1s;
}
